<!DOCTYPE html>
<html lang="en" ng-app="MSWordApp">
    <head>
        <meta charset="UTF-8">
        <title>CSS Buttons</title>
        <script src="../../Libraries/angular.js"></script>
        <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
        <style>
            .cursive {
                font-style: italic;
            }
            .underline {
                text-decoration: underline;
            }
            .strong {
                font-weight: bold;
            }
        </style>
        <script>
            angular.module("MSWordApp", [])
                    .controller("MSWordController", function($scope) {
                        $scope.style_list = {cursive: false, underline: false, strong: false};
                        $scope.toggleClass = function (class_name) {
                            $scope.style_list[class_name] = $scope.style_list[class_name]? false : true;
                        }
                    })
        </script>
    </head>
    <body ng-controller="MSWordController">
        <div class="panel">
            <div class="panel-body">
                <p ng-class="style_list">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn-default btn" ng-click="toggleClass('cursive')"><i>I</i></button>
                <button class="btn-default btn" ng-click="toggleClass('underline')"><span style="text-decoration: underline;">U</span></button>
                <button class="btn-default btn" ng-click="toggleClass('strong')"><strong>B</strong></button>
            </div>
        </div>
    </body>
</html>