<!DOCTYPE html>
<html lang="ru" ng-app="ProjectApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing page</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,800" rel="stylesheet">
    <script src="script/angular.min.js"></script>
    <script>
        angular.module("ProjectApp", [])
                .controller("ServiceController", function($scope) {
                    var services = document.querySelectorAll('.services_container div.service');
                    var squares = document.querySelectorAll('.point-square>li');
                    squares[0].style.left = 0;
                    squares[squares.length - 1].style.right = 0;
                    for (var i = 1; i<squares.length-1; i++) {
                        squares[i].style.left = services[i].getBoundingClientRect().left - services[0].getBoundingClientRect().left + (services[i].getBoundingClientRect().right - services[i].getBoundingClientRect().left)/2-35-118+'px';
                    }
                    $scope.active_service = 1;
                    $scope.changeActiveService = function(i) {
                        $scope.active_service = i;
                    }


                })
                .controller ("PhotoController", function($scope) {
                    $scope.portfolio = [{src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'ALL'}, {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'WEB'},
                        {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'PHOTO'}, {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'GRAPHDIS'},
                        {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'ALL'}, {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'WEB'},
                        {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'PHOTO'}, {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'GRAPHDIS'},
                        {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'PHOTO'}, {src: 'https://i.kinja-img.com/gawker-media/image/upload/vjamorotezzukhdvpccc.JPG', category: 'GRAPHDIS'}];
                    $scope.filter_value = 'ALL';
                    $scope.setFilter = function(value) {
                        $scope.filter_value = value;
                    };
                    $scope.filterFunc = function (photo) {
                        if ($scope.filter_value == 'ALL') {
                            return photo;
                        } else {
                            if (photo.category == $scope.filter_value) {
                                return photo;
                            }
                        }
                    }
                })
                .directive ("smoothCounter", function($window, $interval) {
                    return {
                        restrict: 'A',
                        scope: {},
                        link: function (scope, element, attr) {
                            scope.number = 0;
                            console.log(attr);
                            var getProudNumbers = function wrapper() {
                                console.log(wrapper.attr);
//                                var cycle_step = 100;
//                                var counter = function me() {
//                                    if(scope.number < me.attr.smoothCounter - (me.attr.smoothCounter % (3000/cycle_step))) {
//                                        me.element.text(scope.number);
//                                        scope.number = scope.number+Math.round(me.attr.smoothCounter/(3000/cycle_step));
//                                    } else {
//                                        scope.number = me.attr.smoothCounter;
//                                        $interval.cancel(me.start_counter);
//                                    }
//                                };
//                                counter.start_counter = $interval(counter, cycle_step);
//                                counter.max_value = attr;
//                                counter.element = element;
                            };
                            getProudNumbers.attr = attr;

                            $window.onscroll = function() {
                                if ($window.pageYOffset > document.getElementById('proud_numbers').getBoundingClientRect().top + $window.pageYOffset - 300 && $window.pageYOffset < document.getElementById('proud_numbers').getBoundingClientRect().top + $window.pageYOffset + 100) {
                                    getProudNumbers();
                                }
                            };
                        }
                    }
                })
    </script>
    <script>
        window.onload = function() {
            var left_of_before = parseInt(getComputedStyle(document.querySelector('#full_resp .with-arrow')).width)/2;
            var left_of_after = left_of_before + 1;
            document.styleSheets[0].addRule('#full_resp .with-arrow:before','left: ' + left_of_before + 'px');
            document.styleSheets[0].insertRule('#full_resp .with-arrow:before { left: ' +left_of_before+ 'px }', 0);
            document.styleSheets[0].addRule('#full_resp .with-arrow:after','left: ' + left_of_after+ 'px');
            document.styleSheets[0].insertRule('#full_resp .with-arrow:after { left: ' +left_of_after+ 'px }', 0);
        }
    </script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"></button>
            <a class="navbar-brand" href="#">KET</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#potfolio">PORTFOLIO</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#clients">NEWS</a></li>
                <li><a href="#contacts">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron reverse text-center">
    <div class="jumb_wrapper">
        <h4 class="x-large x-light">WE MAKE WEBSITES</h4>
        <button type="button" class="btn btn-custom light">START TOUR</button>
    </div>
</div>
<div class="container-fluid text-center" id="services" ng-controller="ServiceController">
    <div class="wrapper">
        <div class="row services_container">
            <div class="col-md-3 col-sm-6 service" ng-click="changeActiveService(1)">
                <span class="medium">WEB DESIGN</span>
            </div>
            <div class="col-md-3 col-sm-6 service" ng-click="changeActiveService(2)">
                <span class="medium">GRAPHIC DESIGN</span>
            </div>
            <div class="col-md-3 col-sm-6 service" ng-click="changeActiveService(3)">
                <span class="medium">PROGRAMMING</span>
            </div>
            <div class="col-md-3 col-sm-6 service" ng-click="changeActiveService(4)">
                <span class="medium">DEVELOPING</span>
            </div>

        </div>
        <div class="row info_container">
            <div class="info-block" ng-switch on="active_service">
                <ul class="point-square">
                    <li class="first" ng-class="{'active': active_service == '1'}"></li>
                    <li class="second" ng-class="{'active': active_service == '2'}"></li>
                    <li class="third" ng-class="{'active': active_service == '3'}"></li>
                    <li class="fourth" ng-class="{'active': active_service == '4'}"></li>
                </ul>
                <p ng-switch-when="1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus ante arcu, vel finibus lectus interdum sit amet. Phasellus id ante et magna consequat sodales eget eleifend mi. Duis luctus gravida urna id sodales. Aliquam erat volutpat. Proin sit amet purus at nibh dignissim aliquet. Integer condimentum accumsan suscipit. Duis porttitor dictum neque, sed dictum purus convallis non. Nullam ornare purus vitae tellus consectetur, ut blandit justo efficitur.</p>
                <p ng-switch-when="2">Nunc pretium felis quis metus rhoncus iaculis. Quisque ornare nunc sapien, et aliquam velit volutpat nec. Pellentesque vel pulvinar tellus. Nullam eu nisl at tortor sagittis facilisis eu vitae felis. Duis nunc est, porttitor et mattis at, convallis eget felis. Duis venenatis justo ut dolor sodales, nec luctus ligula tempus. Phasellus sollicitudin dui vulputate venenatis suscipit. Sed et auctor nisi, quis fringilla ex. Donec volutpat vulputate tortor, a aliquam est vulputate vitae.</p>
                <p ng-switch-when="3">Etiam id luctus purus. Pellentesque at mollis ex, et lobortis odio. In condimentum arcu ac neque egestas, a accumsan erat malesuada. Quisque quis magna dictum, hendrerit libero at, viverra tortor. Vivamus purus libero, suscipit in mauris id, dapibus rhoncus neque. Aenean commodo ac felis nec suscipit. Etiam laoreet consequat varius. Fusce eu sodales magna, quis rhoncus ipsum.</p>
                <p ng-switch-when="4">Ut in hendrerit leo. Aenean vulputate mi consectetur ex vehicula, et pharetra felis iaculis. Sed consequat turpis euismod, convallis sem at, suscipit nibh. Nunc porttitor consectetur facilisis. Pellentesque erat diam, dictum vel cursus a, porttitor ut dolor. Quisque sollicitudin turpis dictum ante pulvinar scelerisque. Maecenas posuere enim et dapibus scelerisque. Morbi vel ex metus.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="full_resp">
    <div class="wrapper">
        <div class="row">
            <div class="btn-group-justified">
                <div class="btn btn-default">START TOUR</div><div class="btn btn-default with-arrow">FOR ALL DEVICES</div>
            </div>
            <div class="col-md-6">
                <img src="img/telephones.png">
            </div>
            <div class="col-md-6">
                <div class="h-margin-40 large plain">Fully Responsive</div>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempus ante arcu, vel finibus lectus interdum sit amet. Phasellus id ante et magna consequat sodales eget eleifend mi. Duis luctus gravida urna id sodales. Aliquam erat volutpat. Proin sit amet purus at nibh dignissim aliquet. Integer condimentum accumsan suscipit. Duis porttitor dictum neque, sed dictum purus convallis non. Nullam ornare purus vitae tellus consectetur, ut blandit justo efficitur.</p>
                <button type="button" class="btn btn-custom light blue">GET NOW</button>
            </div>
        </div>
    </div>
</div>
<div ng-controller="PhotoController">
    <div class="container-fluid text-center" id="portfolio">
        <div class="wrapper">
            <div class="row" id="filter">
                <div class="title">
                    <div class="large">Our Portfolio</div>
                    <hr>
                    <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                </div>
                <div class="col-md-12 filter_menu">
                    <div ng-class="{'selected': filter_value == 'ALL'}" ng-click="setFilter('ALL')">ALL</div><div ng-class="{'selected': filter_value == 'WEB'}" ng-click="setFilter('WEB')">WEB</div><div ng-class="{'selected': filter_value == 'PHOTO'}" ng-click="setFilter('PHOTO')">PHOTOGRAPHY</div><div ng-class="{'selected': filter_value == 'GRAPHDIS'}" ng-click="setFilter('GRAPHDIS')">GRAPHIC DESIGN</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div id="photo_container">
            <div class="photo-wrapper" ng-repeat="photo in portfolio | filter: filterFunc" mask="{{photo.category}}"><img src="{{photo.src}}"></div>
        </div>
    </div>
</div>
<div class="container-fluid reverse text-center" id="proud_numbers">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="padding-v-25 border-yellow margin-h-15px">
                    <h4 smooth-counter="3054"></h4>
                    <p class="color-yel">COMPLETED PROJECTS</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="padding-v-25 border-yellow margin-h-15px">
                    <h4 smooth-counter="7234873"></h4>
                    <p class="color-yel">CLICK PRESSED</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="padding-v-25 border-yellow margin-h-15px">
                    <h4 smooth-counter="4670"></h4>
                    <p class="color-yel">MAILS SENTED & RECIEVED</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="padding-v-25 border-yellow margin-h-15px">
                    <h4 smooth-counter="939"></h4>
                    <p class="color-yel">JOKES TOLDS</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center light-gray" id="team">
    <div class="wrapper">
        <div class="title">
            <h1>WE ARE THE ONE</h1>
            <hr>
            <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="general_information" data-user-name="JOHN DOE" data-general="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa" data-html-css="90" data-ai-ps="73" data-js-php="55" data-photography="77">
                    <div class="image-wrapper"></div>
                    <h4 class="color-yel">JOHN DOE</h4>
                    <p>CREATIVE DIRECTOR</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="general_information" data-user-name="JOHN DOE" data-general="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem" data-html-css="45" data-ai-ps="64" data-js-php="25" data-photography="77">
                    <div class="image-wrapper"></div>
                    <h4 class="color-yel">JOHN DOE</h4>
                    <p>ART DIRECTOR</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="general_information" data-user-name="JOHN DOE" data-general="Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?" data-html-css="99" data-ai-ps="93" data-js-php="75" data-photography="67">
                    <div class="image-wrapper"></div>
                    <h4 class="color-yel">JOHN DOE</h4>
                    <p>WEB DEVELOPER</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="general_information" data-user-name="JOHN DOE" data-general="But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful." data-html-css="60" data-ai-ps="93" data-js-php="65" data-photography="87">
                    <div class="image-wrapper"></div>
                    <h4 class="color-yel">JOHN DOE</h4>
                    <p>PHOTOGRAPHER</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid reverse text-center" id="feedback">
    <div class="wrapper">
        <div class="title">
            <h1>SEND US A MESSAGE</h1>
            <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <input type="text" id="username" placeholder="Your Name">
                <div class="error-msg">Only Latin</div>
            </div>
            <div class="col-md-4 col-sm-6">
                <input type="text" id="useremail" placeholder="Your Mail">
                <div class="error-msg">Only Latin, numbers, _ and @</div>
            </div>
            <div class="col-md-4 col-sm-6">
                <input type="text" id="usersubject" placeholder="Subject">
                <div class="error-msg">Only Latin and numbers</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <textarea placeholder="Enter Message Here..."></textarea>
            </div>
        </div>
        <button type="button" class="btn btn-custom">SEND MESSAGE</button>
    </div>
</div>
<footer class="container-fluid text-center">
    <p>©Copyright 2013 Smak. All Rights Reserved.</p>
    <p>Кнопки социальных сетей</p>
    <button type="button" class="btn btn-custom" id="up_button"><span class="icon arrowsup-icon"></span></button>
</footer>
</body>
</html>