<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp">
<head>
    <meta charset="UTF-8">
    <title>Task_2</title>
    <script src="../../Libraries/angular.js"></script>
    <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
    <script>
        var toDoApp = angular.module("ToDoApp",[]);
        toDoApp.controller("ToDoController", ['$scope', 'sendJSONService', function($scope, sendJSONService) {
            $scope.items = [];
            $scope.addData = function () {
                $scope.items.push($scope.data);
                sendJSONService($scope.data);
                $scope.data = {};
            };
        }]);
        toDoApp.factory('sendJSONService', function($http) {
            return function(send_data) {
                var config = {
                    transformRequest: function (data) {
                        var json_data = angular.toJson(data);
                        alert(json_data);
                        return json_data;
                    }
                };
                $http.post("server.js", send_data, config);
            }
        })
    </script>
</head>
<body ng-controller="ToDoController">

<div class="container">

    <h3>ToDo List</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Completed</th>
        </tr>
        </thead>
        <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.date}}</td>
            <td>{{item.completed}}</td>
        </tr>
    </table>

    <div>
        <form role="form">
            <div class="form-group">
                <label for="task_name">Name</label>
                <input type="text" class="form-control" id="task_name" ng-model="data.name">
            </div>
            <div class="form-group">
                <label for="task_date">Due Date</label>
                <input class="form-control" type="text" ng-model="data.date" id="task_date">
            </div>
            <div class="form-group">
                <label for="task_description">Description</label>
                <textarea class="form-control" ng-model="data.description" id="task_description"></textarea>
            </div>
            <div class="form-group">
                <label for="task_completed">Completed</label>
                <div><input type="checkbox" ng-model="data.completed" id="task_completed"></div>
            </div>
            <button type="submit" ng-click="addData()" class="btn btn-default">Add</button>
        </form>
    </div>
</div>
</body>
</html>