body {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.navbar.navbar-fixed-top {
    background: rgba(19,19,22,.3);
    padding: 26px;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.navbar-brand div:first-child {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
}

.navbar-brand div:last-child {
    font-size: 9px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 10px;
}

.jumbotron {
    height: 1050px;
    padding-top:0;
    overflow: hidden;
}

.jumbotron .car-item:nth-child(1) {
    background: url('../img/back1.jpg');
}
.jumbotron .car-item:nth-child(2) {
    background: url('../img/back2.jpg');
}
.jumbotron .car-item:nth-child(3) {
    background: url('../img/back3.jpg');
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 60px;
}

.wrapper {
    max-width:1175px;
    margin:auto;
}

.jumbotron {
    margin-bottom: 0;
}

.title {
    margin-bottom: 60px;
    margin-left: 105px;
    margin-right: 105px;
}

.title h5 {
    color: #515151;
}

hr {
    border: 1px solid #ffe600;
    width: 170px;
    margin-bottom: 24px;
}

.reverse {
    background-color: #12191d;
    color: #ffffff;
}

.description {
    color: #707070;
    font-weight:300;
    font-size: 16px;
}

.reverse .description {
    color: #ffffff;
}

.sub-heading {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
}

/* -------- */

.icon-wrapper {
    height: 72px;
    width: 72px;
    margin:auto;
}

.icon-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
    background-color: #ffe600;
}

#services .circle {
    width: 108px;
    height: 108px;
}

.icon {
    width:48px;
    height:48px;
    display:inline-block;
    vertical-align: middle;
}

.separator {
    display: inline-block;
    margin: auto 23px;
    width:5px;
    height: 5px;
    background-color: #ffe600;
    vertical-align: middle;
}

.btn-custom {
    color: #fff;
    background-color: #ffe600;
    border-radius: 0;
    font-weight:700;
    font-size: 15px;
}

#contact {
    padding: 20px 48px;
}

.circle .icon {
    width: 40px;
    height: 40px;
}

.icon.css-icon {
    background: transparent url('../img/icons/css3.png') no-repeat;
    height: 36px;
}

.icon.pen-icon {
    background: transparent url('../img/icons/pen.png') no-repeat;
}

.icon.camera-icon {
    background: transparent url('../img/icons/camera.png') no-repeat;
    width: 39px;
    height: 31px;
}

.icon.cog-icon {
    background: transparent url('../img/icons/cog.png') no-repeat;
    width: 42px;
}

.analyse-icon {
    background: transparent url('../img/icons/analyse.png') no-repeat;
}

.preparing-icon {
    background: transparent url('../img/icons/preparing.png') no-repeat;
}

.working-icon {
    background: transparent url('../img/icons/working.png') no-repeat;
}

.finalyse-icon {
    background: transparent url('../img/icons/finalyse.png') no-repeat;
}

.testing-icon {
    background: transparent url('../img/icons/testing.png') no-repeat;
}

.deliver-icon {
    background: transparent url('../img/icons/deliver.png') no-repeat;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

.padding-v-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.margin-h-15px {
    margin-left: 15px;
    margin-right: 15px;
}

.border-yellow {
    border: 1px solid #ffe600;
    background-color: #131316;
}

.color-yel {
    color: #ffe600;
}

.numbers {
    font-weight: 700;
    font-size: 40px;
}

#about .circle {
    margin-top:10px;
    float: left;
    margin-right: 30px;
}

#about .row {
    margin-top: 60px;
}

#about .row .description {
    padding-left: 102px;
}

.image-wrapper {
    width:270px;
    height: 250px;
    background-color: #11343a;
}

.light-gray {
    background: #fbfbfb
}

#team h4, #skills h4{
    font-size: 20px;
    margin-top: 15px;
}

#team .general_information {
    background-color: #ffffff;
    border-bottom: 1px solid #dfe4e5;
}

#skills .outer.circle {
    width: 142px;
    height: 142px;
    display:inline-block;
    overflow: hidden;
    position:relative;
}

#skills .inner.circle {
    width: 130px;
    height: 130px;
    background-color: #000000;
    display:inline-block;
    position:relative;
    z-index:5;
    top: 6px;
}

#skills .inner.circle span {
    line-height: 130px;
    font-weight: 300;
    font-size: 35px;
}

#feedback input, #feedback textarea {
    width: 100%;
    padding: 10px 5px;
    background-color: transparent;
}

#feedback .row {
    margin-top: 30px;
}

.item {
    background: #fff;
    position: absolute;
    width: 71px;
    height: 71px;
    transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
}

.sec_sqr {
    top: 0;
    left:50%;
}

.third_sqr {
    top: 50%;
    left:50%;
}

.forth_sqr {
    top: 50%;
    left: 0%;
    background: #ffe600;
}

.progress_bar {
    z-index: 1;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    background: #fff;
}

#photo_container .photo-wrapper {
    position:relative;
    display:none;
}

#photo_container .photo-wrapper img {
    width: 320px;
    height: 250px;
}

#photo_container .photo-wrapper:hover img {
    opacity: .7;
}

#filter a {
    color: #515151;
    text-decoration: none;
    cursor: pointer;
}

#filter a.selected {
    color: #ffe600;
}

.error-msg {
    color: red;
    display: none;
}

.car-item {
    display:block;
    position:absolute;
    top:0;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
    height: inherit;
    background: transparent;
    margin: 0 auto;
    left: 100%;
}

.car-item.active {
    position:relative;
    left:0;
}

.car-container  {
    position: relative;
    height:inherit;
}

.car-wrapper {
    position:relative;
    width: 100%;
    overflow: hidden;
    height:inherit;
}

.car-caption {
    position: relative;
    top: 50%;
    background: rgba(19,19,22, .3);
}

.carousel-indicators {
    bottom: -50px;
}

#rates .car-item {
    width: 550px;
}

#clients .car-item div {
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
    padding:10px 0;
    height: 60px;
}
#clients .car-item {
    height:60px;
    overflow:hidden;
    width:1200px;
}