<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="../../Libraries/angular.js"></script>
    <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
    <title>Task_1</title>

    <script>
        var app = angular.module('myApp', [])
                .controller('mainCtrl', function ($scope) {
                    $scope.calculator = {
                        a: 0,
                        b: 0,
                        plus: function () {
                            $scope.output = parseInt(this.a)+parseInt(this.b);
                        },
                        minus: function () {
                            $scope.output = parseInt(this.a)-parseInt(this.b);
                        },
                        mul: function () {
                            $scope.output = parseInt(this.a)*parseInt(this.b);
                        },
                        div: function () {
                            $scope.output = parseInt(this.a)/parseInt(this.b);
                        }
                    }
                })
    </script>
</head>
<body ng-controller="mainCtrl">
<div class="panel"style="width:400px;">
    <div class="panel-body">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="first_input">Введите первое число:</label>
                <input type="text" class="form-control" id="first_input" ng-model="calculator.a">
            </div>
            <div class="form-group">
                <label for="second_input">Введите второе число:</label>
                <input class="form-control" type="text" ng-model="calculator.b" id="second_input">
            </div>
        </form>
        <div style="margin: 10px auto; width: 142px;">
            <button type="button" class="btn btn-default" ng-click="calculator.plus()">+</button>
            <button type="button" class="btn btn-default" ng-click="calculator.minus()">-</button>
            <button type="button" class="btn btn-default" ng-click="calculator.mul()">*</button>
            <button type="button" class="btn btn-default" ng-click="calculator.div()">/</button>
        </div>
        <div id="output">{{output}}</div>
    </div>
</div>
</body>
</html>