<!DOCTYPE html>
<html lang="en" ng-app="SpaApp">
<head>
    <meta charset="UTF-8">
    <title>SPA Application</title>
    <script src="../../Libraries/angular.js"></script>
    <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
    <script>
        angular.module("SpaApp", [])
                .controller("SpaAppController", function($scope) {
                    $scope.answers = [];
                    $scope.quiz = [{question: "Первая мировая война началась в...", a: "1.09.1939", b: "9.05.1945", c: "28.07.1914", d: "11.11.1918", right_answer: "c"},
                        {question: "Год появления JavaScript", a: "1995", b: "2007", c: "2010", d: "2009", right_answer: "a"},
                        {question: "Помощь какой директивы Angular JS не потребовалась для этого задания", a: "ng-switch", b: "ng-repeat", c: "ng-model", d: "ng-if", right_answer: "a"},
                        {question: "Первоначальный разработчик Angular JS, что по сей день работает над улучшением данного продукта", a: "Войт Джин", b: "Мишко Хевери", c: "Игорь Минар", d: "Адам Абронс", right_answer: "b"},
                        {question: "JQuery - это", a: "Полноценный язык программирования", b: "Библиотека", c: "Фреймворк", d: "Паттерн", right_answer: "b"}];
                    $scope.getResult = function() {
                        $scope.result_of_test = 0;
                        for (var i=0; i<$scope.answers.length; i++) {
                            if ($scope.quiz[i].right_answer == $scope.answers[i]) {
                                $scope.result_of_test++;
                            }
                        }
                        document.body.innerHTML = "Ваш результат: "+$scope.result_of_test;
                    }
                });
    </script>
</head>
<body ng-controller="SpaAppController">
    <div class="form-group">
        <label class="radio-inline"><input type="radio" value="0" ng-model="chosen_question">Вопрос 1</label>
        <label class="radio-inline"><input type="radio" value="1" ng-model="chosen_question">Вопрос 2</label>
        <label class="radio-inline"><input type="radio" value="2" ng-model="chosen_question">Вопрос 3</label>
        <label class="radio-inline"><input type="radio" value="3" ng-model="chosen_question">Вопрос 4</label>
        <label class="radio-inline"><input type="radio" value="4" ng-model="chosen_question">Вопрос 5</label>
    </div>
    <div id="output" ng-repeat="question in quiz" ng-if="$index == chosen_question">
        <p>{{question.question}}</p>
        <div class="radio"><label><input type="radio" value="a" ng-model="answers[$index]">{{question.a}}</label></div>
        <div class="radio"><label><input type="radio" value="b" ng-model="answers[$index]">{{question.b}}</label></div>
        <div class="radio"><label><input type="radio" value="c" ng-model="answers[$index]">{{question.c}}</label></div>
        <div class="radio"><label><input type="radio" value="d" ng-model="answers[$index]">{{question.d}}</label></div>
    </div>
    <button class="btn btn-default" ng-click="getResult()">Сдать тест</button>
</body>
</html>