<div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="member in team">
    <div class="general_information">
        <div class="image-wrapper">
            <div class="image-caption">
                <h4>{{member.name}}</h4>
                <p class="small medium">{{member.position}}</p>
            </div>
        </div>
        <div class="desc small">
            {{member.desc}}
        </div>
        <div class="social-btns">
            <div class="facebook"><span class="fa fa-facebook"></span></div>
            <div class="twitter"><span class="fa fa-twitter"></span></div>
            <div class="google"><span class="fa fa-google"></span></div>
            <div class="dribble"><span class="fa fa-dribbble"></span></div>
        </div>
    </div>
</div>