<!DOCTYPE html>
<html lang="en" ng-app="CookieServiceApp">
<head>
    <meta charset="UTF-8">
    <title>Task3</title>
    <script src="../../Libraries/angular.js"></script>
    <script src="../../Libraries/angular-cookies.js"></script>
    <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
    <script>
        angular.module("CookieServiceApp", ['ngCookies'])
                .controller("CookieServiceController", ['$scope', 'setCookieService', function($scope, setCookieService) {
                    $scope.setCookieBtn = function() {
                        if (angular.isDefined($scope.id) && angular.isDefined($scope.value)) {
                            setCookieService.set($scope.id, $scope.value);
                            $scope.output = setCookieService.get();
                        }
                    }
                }])
                .factory("setCookieService", function($cookies) {
                    return {
                        set: function (id, value) {
                            var now = new Date();
                            var exp = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1);
                            $cookies.put(id, value, {expires: exp});
                        },
                        get: function() {
                            return $cookies.getAll();
                        }
                    }
                })
    </script>
</head>
<body ng-controller="CookieServiceController">
<div class="form-group">
    <label for="id">ID:</label>
    <input type="text" id="id" ng-model="id">
</div>
<div class="form-group">
    <label for="value">Value:</label>
    <input type="text" id="value" ng-model="value">
</div>
<button class="btn btn-success" ng-click="setCookieBtn()">Set Cookie</button>
<div>{{output}}</div>
</body>
</html>